# compiled output
dist

# dependencies
node_modules

# desktop files
.DS_Store

# local notes
notes.md

# environment files with secrets
.env

# docker override for local development
docker-compose.override.yml